{% extends "base_simple_extensible.html" %}

{% set pages_dict = pages|as_dict("slug") %}

{% block head %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{{ super() }}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/main.css">


{% endblock %}



{% block body %}

<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item {% if page is undefined or page.category != 'highlighted' %}active{% endif %}" href="{{ SITEURL }}/">Home</a>
            {% for p in pages %}
                {%  if p.category == 'highlighted' %}
                    <a class="blog-nav-item{% if page and page == p  %} active{%  endif %}"
                       href="{{ SITEURL }}/{{ p.url }}">{{p.title}}</a>
                {% endif %}
            {% endfor %}
        </nav>
    </div>
</div>


<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">
            {% block pagetitle %}
               <h1 class="blog-title">{{ SITENAME }}: {% block subpagetitle%} {% endblock %}</h1>
            {% endblock %}
        </h1>
        <p class="lead blog-description">
            {% block lead %}

            {% endblock %}
        </p>
    </div>


    <div class="row">
        <div class="col-sm-8 blog-main">
            <div id="content" class="{% block contentclass %}row marketing{% endblock %}">
                {% block content %}

                {% endblock content %}
            </div>
        </div>


    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
      <div class="sidebar-module sidebar-module-inset">
        <h4>About</h4>
        {{ pages_dict['about-us-allpage'].content }}
      </div>

      <div class="sidebar-module sidebar-module-inset">
          <h4>Tagi:</h4>
          <div id="taglist">
            {% for tag, arts in tags|tagsort_by_popularity %}
                 <a data-tag-count="{{ arts|length }}" data-tag-name="{{ tag }}" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %},{% endif %}
            {% endfor %}
          <br>
          <a href="{{ SITEURL }}/tags.html">Pełna lista</a>
          </div>
      </div>

{#      <div class="sidebar-module">#}
{#        <h4>Archives</h4>#}
{#        <ol class="list-unstyled">#}
{#          <li><a href="#">March 2014</a></li>#}
{#          <li><a href="#">February 2014</a></li>#}
{#          <li><a href="#">January 2014</a></li>#}
{#          <li><a href="#">December 2013</a></li>#}
{#          <li><a href="#">November 2013</a></li>#}
{#          <li><a href="#">October 2013</a></li>#}
{#          <li><a href="#">September 2013</a></li>#}
{#          <li><a href="#">August 2013</a></li>#}
{#          <li><a href="#">July 2013</a></li>#}
{#          <li><a href="#">June 2013</a></li>#}
{#          <li><a href="#">May 2013</a></li>#}
{#          <li><a href="#">April 2013</a></li>#}
{#        </ol>#}
{#      </div>#}

      <div id="main-links" class="sidebar-module">
        <h4>Elsewhere</h4>
        {{ pages_dict['linki'].content }}
      </div>
    </div><!-- /.blog-sidebar -->
    </div>
</div>
{% endblock %}

{% block additionaljs %}

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    {% include "includes/statcounter.html" %}
{% endblock %}